@import './base.css';
@import './pricing-card.css';
@import './inputs.css';
@import './nav.css';

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

/* Button Styles */

.btn__group {
  display: flex;
  gap: 0.5rem;
}

.btn {
  outline: none;
  height: 2rem;
  padding: 0.2rem 1rem;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn--primary {
  color: var(--white);
  background-color: var(--accent);
  box-shadow: 0 2px 0 rgba(255, 34, 5, 0.1);
}

.btn--primary:hover {
  background-color: var(--accent-light);
}

.btn--default {
  background-color: var(--white);
  border-color: var(--border-color);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.btn--default:hover {
  color: var(--accent);
  border-color: var(--accent);
}
